@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


@font-face {
    font-family: Balmy;
    src: url(../../public/BalmyBeta.ttf);
}

::selection {
    color: #ffc400;
    background: #FFEBA7;
}

::-webkit-scrollbar {
    display: none;
}


html {
    --cursor-color: #333
}

html.dark-mode {
    --cursor-color: #fff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.4s ease;
}

.loader-lottie {
    height: 95vh !important;
}

.loading-spinner {
    width: 20px !important;
}

.section-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'Noto sans';
    padding: 15px 10px;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}

.Toastify__close-button>svg {
    display: none;
}

input {
    background: rgb(231, 231, 231);
    border: 0;
    padding: 10px 15px 10px 5px;
    min-width: 13em;
}

label {
    color: #ffc400;
}

input:focus {
    transition: 0.2s ease;
    outline: 0;
    padding: 10px;
    scale: 1.05;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    opacity: .8;
    padding: 10px 15px;
}

button {
    border-radius: 5px;
    cursor: pointer;
    border: 0;
}

button:hover {
    transform: translateY(-5px);
}

html {
    scroll-behavior: smooth;
}

.message {
    width: 60%;
    padding: 8px 0px;
    background: #FFEBA7;
    text-align: center;
    z-index: 10;
    border-radius: 5px;
}

.cross {
    padding: 0 !important;
    font-size: 1.5em;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 999;
    cursor: pointer;
}